<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/images/logo.ico" rel="icon" type="image/x-icon" />
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css">
    <link href="~/assets/vendor/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/vendor/datepicker/tempusdominus-bootstrap-4.css">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/tableexport/tableexport.css" rel="stylesheet" />
    <link href="~/assets/vendor/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <style>
        .alertmessage {
            position: fixed;
            top: 100%;
            left: 50%;
            width: 400px;
            margin-left: -200px;
            margin-top: -150px;
            text-align: center;
            outline: 9999px solid rgba(0,0,0,0.2);
            display: none;
            z-index: 999999;
            border-radius: 0px;
        }

        .btndisplaymenu {
            position: fixed;
            background-color: #0e0c27;
            margin-top: 45px;
            margin-left: 251px;
            padding-right: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 0px 10px 10px 0px;
        }
    </style>

    <title>@ViewData["Title"] - SHAM</title>
</head>

<body>
    <div class="alert alert-danger alertmessage" id="danger-alert2">
        <strong>Hata ! </strong><br /><p id="errorMsg"></p>
    </div>

    <div class="alert alert-danger alertmessage" id="danger-alert">
        <strong>Hata ! </strong><br /> Yanlış giden bir şeyler var. Kontrol ederek tekrar deneyiniz..
    </div>

    <div class="alert alert-success alertmessage" id="create-success-alert">
        <strong>Başarılı !  </strong><br /> Başarıyla eklendi.<br /><span class="dashboard-spinner spinner-secondary spinner-xs"></span>
    </div>

    <div class="alert alert-success alertmessage" id="edit-succes-alert">
        <strong>Başarılı ! </strong><br /> Başarıyla düzenlendi.<br /><span class="dashboard-spinner spinner-secondary spinner-xs"></span>
    </div>

    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <div class="btndisplaymenu"><i class="fas fa-list-ul" style="margin-left:20px; color: white;"></i></div>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" height="40" width="40" />SHAM</a>Beta v0.2
                <button class="navbar-toggler fas fa-user" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user" style="border-left: 1px solid #e6e6f2; padding-left:10px; padding-right:10px;">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    @User.Identity.Name
                                </div>
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-user mr-2"></i>Hesap</a>
                                <a class="dropdown-item" asp-controller="LogIn" asp-action="LogOff"><i class="fas fa-power-off mr-2"></i>Çıkış Yap</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="nav-left-sidebar sidebar-dark" id="sidebarMenu">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Gösterge Paneli</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        @if (User.Identity.HavePermission(Roles.ADMIN))
                        {
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                    Menu
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-home"></i>Ana Sayfa <span class="badge badge-success">6</span></a>
                                    <div id="submenu-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-bolt"></i>Sabitleri Belirle</a>
                                    <div id="submenu-2" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Title" asp-action="Index">Ünvanlar <span class="badge badge-secondary">New</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Priority" asp-action="Index">Öncelik Seviyeleri</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Level" asp-action="Index">Proje Seviyeleri</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="ProjectType" asp-action="Index">Proje Tipleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-user"></i>Çalışanlar</a>
                                    <div id="submenu-3" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Employee" asp-action="Index">Çalışan İşlemleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-users"></i>Müşteriler</a>
                                    <div id="submenu-4" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Customer" asp-action="Index">Müşteri İşlemleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-file-alt"></i>Projeler</a>
                                    <div id="submenu-5" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Project" asp-action="Index">Proje İşlemleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-file-code"></i>Aktiviteler</a>
                                    <div id="submenu-6" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Activity" asp-action="Index">Aktivite İşlemleri</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-divider">
                                    Kişisel Menü
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-file-alt"></i> Projeler </a>
                                    <div id="submenu-7" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Project" asp-action="MyProject">Projelerim</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-file-code"></i>Aktiviteler <span class="badge badge-secondary"></span></a>
                                    <div id="submenu-8" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Activity" asp-action="MyActivity">Aktivitelerim</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                    Menu
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-home"></i>Ana Sayfa <span class="badge badge-success">6</span></a>
                                    <div id="submenu-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-file-alt"></i>Projeler</a>
                                    <div id="submenu-5" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Project" asp-action="MyProject">Projelerim</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-file-code"></i>Aktiviteler</a>
                                    <div id="submenu-6" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Activity" asp-action="MyActivity">Aktivitelerim</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
            </div>
        </div> @*Menü-----------------*@
        <div class="dashboard-wrapper" id="renderbody">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/libs/js/main-js.js"></script>
    <script src="~/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <script src="~/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/assets/vendor/charts/morris-bundle/morris.js"></script>
    <script src="~/assets/vendor/gauge/gauge.min.js"></script>
    <script src="~/assets/vendor/gauge/gauge.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/jquery.form/jquery.form.js"></script>
    <script src="~/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/assets/libs/js/dashboard-ecommerce.js"></script>
    <script src="~/assets/vendor/datepicker/moment.js"></script>
    <script src="~/assets/vendor/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/assets/vendor/datepicker/tempusdominus-bootstrap-4.js"></script>
    <script src="~/assets/vendor/datepicker/datepicker.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>
    <script src="~/assets/libs/js/ajax.js"></script>
    <script src="~/assets/vendor/tableexport/FileSaver.js"></script>
    <script src="~/assets/vendor/tableexport/Blob.js"></script>
    <script src="~/assets/vendor/tableexport/Export2Excel.js"></script>
    <script src="~/assets/vendor/tableexport/xlsx.core.min.js"></script>
    <script src="~/assets/vendor/tableexport/tableexport.js"></script>
    <script src="~/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>


    @RenderSection("Scripts", false)
</body>

</html>

<script>
    $(document).ajaxError(function (xhr, result) {
        if (result.status === 403) {
            window.location.href = '/Home/Index';
        }
        if (result.status === 401) {
            window.location.href = '/LogIn/NotFound404';
        }
    });

    var windowWidth = $(window).width();
    if (windowWidth > 600) {
        $("#sidebarMenu").animate({ "margin-left": "-264px" }, { queue: false });
        $(".btndisplaymenu").animate({ "margin-left": "-10" }, {
            complete: function () {
                $("#renderbody").animate({ "margin-left": "5px" });
            }
        });



        $(".btndisplaymenu").click(function () {
            if ($(this).css("margin-left") == "251px") {
                $("#sidebarMenu").animate({ "margin-left": "-264px" }, { queue: false });
                $(".btndisplaymenu").animate({ "margin-left": "-10" }, {
                    complete: function () {
                        $("#renderbody").animate({ "margin-left": "5px" });
                    }
                });
            }
            else {
                $("#renderbody").animate({ "margin-left": "264px" });
                $(".btndisplaymenu").animate({ "margin-left": "251px" });
                $("#sidebarMenu").animate({ "margin-left": "0px" });
            }
        });
    }
    else
        $(".btndisplaymenu").css("display", "none");

    $(document).ready(function () {
        $("#danger-alert").hide();
        $("#create-success-alert").hide();
        $("#edit-success-alert").hide();
    });

    function showAlert() {
        $("#danger-alert").fadeTo(3000, 500).slideUp(500, function () {
            $("#danger-alert").slideUp(500);
        });
    };
    function showAlert2(msg) {
        document.getElementById("errorMsg").innerHTML = msg;
        $("#danger-alert2").fadeTo(3000, 500).slideUp(500, function () {
            $("#danger-alert2").slideUp(500);
        });
    };
    function showCreateAlert() {
        $("#create-success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#create-success-alert").slideUp(500);
            window.location.reload();
        });
    };
    function showEditAlert() {
        $("#edit-success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#edit-success-alert").slideUp(500);
        });
    };

</script>

