<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="~/images/logo.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .alertmessage {
            position: fixed;
            top: 100%;
            left: 50%;
            width: 400px;
            margin-left: -200px;
            margin-top: -150px;
            text-align: center;
            outline: 9999px solid rgba(0,0,0,0.2);
            display: none;
            z-index: 999999;
            border-radius: 0px;
        }
    </style>
</head>

<body>
    <div class="container">

        <partial name="_CookieConsentPartial" />
        <div class="alert alert-danger alertmessage" id="danger-alert">
            <strong>Hata ! </strong><br /> Mail Adresi Veya Şifre Yanlış ..
        </div>
        <div class="alert alert-danger alertmessage" id="danger-alert2">
            <strong>Hata ! </strong><br /><p id="errorMsg"></p>
        </div>
        <div class="alert alert-success alertmessage" id="send-success-alert">
            <strong>Başarılı !  </strong><br /> Isteginiz Basarılı Bir Sekilde Iletilmistir.<br /><span class="dashboard-spinner spinner-secondary spinner-xs"></span>
        </div>

        <!-- ============================================================== -->
        <!-- login page  -->
        <!-- end login page  -->
        <main role="main" class="pb-3">
            <div class="splash-container">
                <div class="card">

                    @RenderBody()
                </div>
            </div>
        </main>
        <!-- Optional JavaScript -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/js/ajax.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    @RenderSection("Scripts", false)

</body>

</html>


<script>
    $(document).ajaxError(function (xhr, result) {
        if (result.status === 403) {
            window.location.href = '/Home/Index';
        }
        if (result.status === 401) {
            window.location.href = '/LogIn/NotFound404';
        }
    });


    $(document).ready(function () {
        $("#danger-alert").hide();
    });
    function showAlert2(msg) {
        document.getElementById("errorMsg").innerHTML = msg;
        $("#danger-alert2").fadeTo(3000, 500).slideUp(500, function () {
            $("#danger-alert2").slideUp(500);
        });
    };
    function showAlert() {
        $("#danger-alert").fadeTo(3000, 500).slideUp(500, function () {
            $("#danger-alert").slideUp(500);
        });
    };
    function showSendAlert() {
        $("#send-success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#send-success-alert").slideUp(500);
            window.location.reload();
        });
    };

</script>
