@model List<SHAM.Repository.Dto.TitleDto>
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h3>Ünvanlar</h3>
        <h5>
            <a asp-action="Create">Yeni Ünvan Ekle</a>
        </h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ünvanlar
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.NAME
                    </td>
                    <td>
                        <form>
                            <input type="submit" asp-action="Edit" asp-route-id="@item.ID" value="Düzenle" class="btn btn-primary" />
                        </form>
                        
                    </td>
                        <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" value="@item.ID" name="id" />
                            <input type="submit" value="Sil" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


