@{
    Layout = "/Views/Shared/LoginLayout.cshtml";
    ViewData["Title"] = "Şifremi Unuttum";
}

        <div class="card-header text-center"><h2 class="text-primary font-weight-bold">SHAM</h2><span class="splash-description">Lütfen mail adresinizi giriniz..</span></div>
        <div class="card-body">
            <form action="/LogIn/SendPasswordResetLink" role="form" method="post">
                <p>Parolanızı sıfırlamanız için size mail göndereceğiz.</p>
                <div class="form-group">
                    <input id="levelName" name="EMAIL" type="text" data-parsley-trigger="change" value="" required="" placeholder="Mail Adresi" autocomplete="off" class="form-control">
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Gönder</button>
            </form>
            <strong>@ViewBag.Message</strong>
            <div asp-validation-summary="All"></div>
        </div>
        <div class="card-footer text-center">
            <span>Zaten hesabınız var mı ? <a asp-controller="LogIn" asp-action="Index">Giris Yap</a></span>
        </div>
