@model SHAM.Repository.Dto.UserDto
@{
    Layout = "/Views/Shared/LoginLayout.cshtml";
    ViewData["Title"] = "Giriş";
}
@if (User.Identity.IsAuthenticated)
{
    Url.Action("Index", "Home");
}
else
{
    <div class="card-header text-center">
        <h2 class="text-primary font-weight-bold">
            <img src="~/images/logo.png" height="60" width="60" />SHAM
        </h2><span class="splash-description">Sagita Hour - Activity Manager</span>
        <span class="splash-description">Lütfen Giris Yapınız.</span>
    </div>
    <div class="card-body">
        <form id="loginForm" role="form" asp-action="LoginUser">
            <div class="form-group">
                <input type="email" id="email" name="EMAIL" required="" data-parsley-type="email" placeholder="Mail Adresi" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="PASSWORD" required="" data-parsley-type="email" placeholder="Sifre" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Beni Hatırla</span>
                </label>
            </div>
            <button type="button" id="BtnLogin" class="btn btn-primary btn-lg btn-block">Giris Yap</button>
        </form>
    </div>
    <div class="card-footer" style="padding:0">
        <a href="#" class="footer-link">
            <div class="card-footer-item card-footer-item-bordered col">
                Yeni Hesap

            </div>
        </a>
        <a asp-controller="LogIn" asp-action="ForgotPassword" class="footer-link">
            <div class="card-footer-item card-footer-item-bordered col" style="border-top: 1px solid #e6e6f2;">
                Sifremi Unuttum

            </div>
        </a>
    </div>
}



@section scripts{
    <script>
        $("#password").keyup(function (e) {
            if (e.keyCode == 13) {
            login();
            }
        });
        $("#email").keyup(function (e) {
            if (e.keyCode == 13) {
            login();
            }
        });

        $("#BtnLogin").click(function () {
            login();
        });

        function login() {
            $("#loginForm").ajaxSubmit({
                url: '/LogIn/LoginUser',
                type: 'post',
                success: function (result) {
                    if (result.status)
                        window.location.href = '/Home/Index';
                    else
                        showAlert();

                }
            });
        };
    </script>
}