
@{
    ViewData["Title"] = "Yeni Hesap";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="card-header text-center"><h2 class="text-primary font-weight-bold">SHAM</h2><span class="splash-description">Yeni üyelik için bilgileri doldurup hesap onay mail'i bekleyiniz.</span></div>
<div class="card-body">
    <form role="form" id="newMember">
        <div class="form-group">
            <input id="name" name="name" type="text" data-parsley-trigger="change" value="" required="" placeholder="Ad" autocomplete="off" class="form-control">
        </div>
        <div class="form-group">
            <input id="surname" name="surname" type="text" data-parsley-trigger="change" value="" required="" placeholder="Soyad" autocomplete="off" class="form-control">
        </div>
        <div class="form-group">
            <input id="email" name="email" type="text" value="" required="" placeholder="Mail Adresi" autocomplete="off" class="form-control email-inputmask">
        </div>
        <div class="form-group">
            <textarea id="note" rows="3" class="form-control" name="note" placeholder="Mesajınız (istege bagli)"></textarea>
        </div>
        <button id="sendMember" type="button" class="btn btn-primary btn-lg btn-block">Gönder</button>
        <center><span id="waiting" class="dashboard-spinner spinner-secondary spinner-xs" style="display:none"></span></center>
    </form>
    <strong>@ViewBag.Message</strong>
    <div asp-validation-summary="All"></div>
</div>
<div class="card-footer text-center">
    <span>Zaten hesabınız var mı ? <a asp-controller="LogIn" asp-action="Index">Giris Yap</a></span>
</div>

@section scripts{
    <script>
        $("#note").keyup(function (e) {
            if (e.keyCode == 13) {
                send();
            }
        });

        $("#sendMember").click(function () {
            send();
        });

        function send() {
            $("#newMember").ajaxSubmit({
                beforeSubmit: function () {
                    $("#waiting").toggle("slow");
                },
                url: '/LogIn/SendNewMember',
                type: 'post',
                success: function (result) {
                    $("#waiting").toggle("slow");
                    if (result.status)
                        showSendAlert();
                    else if (result.error == "null" && result.status == false) {
                        showAlert2(result.text);
                    }
                    else
                        showAlert2("Mail gönderilirken hata olustu, Lütfen daha sonra tekrar deneyiniz");
                }
            });
        };

        $(function (e) {
            "use strict";
            $(".date-inputmask").inputmask("dd/mm/yyyy"),
                $(".phone-inputmask").inputmask("(999) 999-9999"),
                $(".email-inputmask").inputmask({
                    mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                    greedy: !1,
                    onBeforePaste: function (n, a) {
                        return (e = e.toLowerCase()).replace("mailto:", "")
                    },
                    definitions: {
                        "*": {
                            validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                            cardinality: 1,
                            casing: "lower"
                        }
                    }
                })
        });

    </script>
}
