
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<form class="splash-container" asp-controller="LogIn" asp-action="ResetPassword" method="post">
    <div class="card">
        <div class="card-header">
            <h2 class="text-primary font-weight-bold">SHAM</h2><span class="splash-description">Yeni Şifrenizi Giriniz</span>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input class="form-control form-control-lg changeControl" data-parsley-trigger="change" id="password1" type="password" name="nick" required="" placeholder="Yeni Şifre" autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg changeControl" data-parsley-trigger="change" id="password2" type="password" name="email" required="" placeholder="Şifre Onayla" autocomplete="off">
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit">Şifremi Değiştir</button>
            </div>
        </div>
    </div>
</form>
